.am{
    background-color: #fff;
    color:#232323;
    font-size: 36px;
    height:88px;
}
.am svg{
    width: 72px;
    height: 72px;
    font-size: 36px !important;
}
.am svg path{
    width: 100% !important;
    height: 100%;
}
.am div{
    color:#232323 !important;
    font-size: 36px;
    line-height: 88px;
}