.myjuooo {
  background-color: ;
  width: 100%;
  height: 100%;
  font-size: 15px;
  text-align: center;
}
/* 个人信息 */
.myjuoooTop {
  width: 750px;
  height: 419px;
  overflow: hidden;
  background: url(../../img/personal_bg.png) no-repeat top center;
  background-position-y: -470px;
  position: relative;
}
.settingEnter {
  position: absolute;
  top: 30px;
  right: 30px;
}
.topMain {
  width: 690px;
  height: 319px;
  background-color: #fff;
  margin: auto;
  margin-top: 100px;
}
.mineInfo {
  width: 690px;
  height: 102px;
  margin: auto;
  padding: 0 15px;
  position: relative;
}
.mineInfo_pic {
  width: 116px;
  height: 116px;
  border-radius: 50%;
  background-color: cyan;
  display: inline-block;
  margin-top: -24px;
  overflow: hidden;
  margin-left: -520px;
  font-size: 30x;
}
.mineInfo_pic img{
  width: 100%;
}
.mineInfo_msg {
  width: 162px;
  height: 102px;
  text-align: left;
  position: absolute;
  top: 0;
  left: 176px;
}
.mineInfo_userNameOne {
  color: #232323;
  line-height: 60px;
}
.mineInfo_userNameZero {
  color: #000000;
  font-weight: 700;
}
.mineInfo_userIdOne {
  color: #999;
  line-height: 42px;
}
.mineInfo_userIdZero {
  color: #999;
  line-height: 42px;
  font-size: 24px;
}

.mineInfo_labal {
  width: 100%;
  height: 54px;
}
.mineInfo_labalName {
  width: 170px;
  height: 54px;
  line-height: 54px;
  float: right;
  background-color: #f8d583;
  border-radius: 27px 0 0 27px;
}
.mineInfo_conts {
  width: 100%;
  height: 170px;
  padding: 30px 0 39px;
  display: flex;
  justify-content: space-around;
}
.mineInfo_cont {
  width: 25%;
  font-size: 30px;
  border-right: 2px solid #e7e5e5;
}
.mineInfo_contNumOne {
  line-height: 46px;
  margin-bottom: 15px;
  color: #ff6743;
}
.mineInfo_contNumZero{
  line-height: 46px;
  margin-bottom: 15px;
  color: #232323;
}
.mineInfo_contLast {
  width: 25%;
  font-size: 30px;
  color: #232323;
}
.mineInfo_contName {
  line-height: 40px;
}
/* vip广告 */
.myjuoooVipBanner {
  width: 750px;
  height: 180px;
  text-align: center;
  padding: 0 5px;
}
.addVipImg {
  width: 740px;
  height: 180px;
}
/* 链接 */
.myjuoooLink {
  width: 750px;
  height: 394px;
  color:#666666;
}
.myjuoooLink_conts {
  width: 690px;
  height: 185px;
  margin: auto;
  background-color: #fff;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 24px;
}
.myjuoooLink_cont {
  width: 25%;
  padding: 31px 0 40px;
  font-size: 30px;
}
.myjuoooLink_bgImg{
  width: 66px;
  height: 66px;
  margin: auto;
}
.myjuoooLink_bgImg img{
  width: 100%;
}
.callHelpWay{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left:0;
  background-color:#fff;
  opacity: 0.8;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.helpWayItem{
  width: 262px;
  height: 226px;
}
.helpWayItem div{
  width: 126px;
  height: 126px;
  border-radius: 50%;
  background-color: #e0b78e;
  margin: auto;
  text-align: center;
  line-height: 126px;
}
.helpWayItem div img{
  display: inline-block;
  vertical-align: middle;
  width: 71px;
  height: 66px;
}
.helpWayItem p{
  padding: 30px 0;
  text-align: center;
  color:#000;
  font-weight: 600;
}