.route {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

/*  帧动画 */
/* .fade-enter {
  opacity: 0;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms ease-in;
} */

/* .appAppear-appear {
  opacity: 0;
  transform: scale(0);
}

.appAppear-appear.appAppear-appear-active {
  opacity: 1;
  transform: scale(1);
  transition: 500ms ease-out;
} */

/*设置进场前透明度为0，防缩为0*/

.fade-enter {
  opacity: 0;
  transform: scale(0);
}

/*设置进场过程中 透明度为1，防缩为1，放缩的位置为左上角，持续时间为500ms，时间曲是ease-out */
.fade-enter.fade-enter-active {
  opacity: 1;
  transform: scale(1);
  transform-origin: top left;
  transition: 800ms ease-out;
}

/*设置退场前透明度为1，防缩为1*/
.fade-exit {
  opacity: 1;
  transform: scale(1);
}

/*设置退场过程中 透明度为0，防缩为0，放缩的位置默认是中间，所以不设置也可以，
持续时间为500ms，时间曲是ease-out */
.fade-exit.fade-exit-active {
  opacity: 0;
  transform: scale(0);
  transition: 800ms ease-out;
}
