.head {
  height: 1.3rem;
  width: 100%;
  padding: 0 0.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.15rem;
  background: #fff;
  position: sticky;
  top: 0;
}
.head-address {
  width: 1.45rem;
  height: 0.86rem;
  padding: 0.16rem 0;
  font-size: 0.43rem;
  color: #000;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
}
.head-address img {
  width: 0.47rem;
  height: 0.5rem;
}
.head-search {
  width: 7rem;
  height: 0.86rem;
  background: #f5f5f5;
  border-radius: 0.34rem;
  display: flex;
  align-items: center;
  line-height: 0.86rem;
}
.head-search img {
  width: 0.6rem;
  height: 0.6rem;
  margin: 0 0.18rem 0 0.27rem;
}
.head-search input {
  height: 0.6rem;
  border: 0;
  background: #f5f5f5;
  padding-top: 0.08rem;
}
.head-calendar {
  width: 0.7rem;
  height: 0.86rem;
  padding: 0.16rem 0.08rem;
}
.head-calendar img {
  width: 0.53rem;
  height: 0.53rem;
}
/* 广告 */
.adv {
  height: 4.04rem;
  padding: 0 0.4rem;
}
.adv img {
  width: 100%;
  height: 4.04rem;
  border-radius: 0.12rem;
}
/* 演出类型 */
.typedetaile {
  height: 4.96rem;
  padding: 0 0.4rem;
  margin-bottom: 0.3rem;
}
.typedetaile ul {
  display: flex;
  flex-wrap: wrap;
}
.typedetaile ul li {
  width: 20%;
  height: 2.48rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.typedetaile ul li > img {
  width: 1.06667rem;
  height: 1.06667rem;
}
.typedetaile ul li > span {
  font-size: 0.34667rem;
  color: #666;
  margin-top: 0.21333rem;
}
/* 会员折扣轮播广告 */
.vipscript {
  padding: 0 0.4rem;
}
.vipadv {
  width: 100%;
  border-radius: 0.08rem;
  background-color: #fffcf5;
  border: 1px solid rgba(213, 163, 112, 0.5);
}
.vipadv-head {
  width: 100%;
  height: 1.06667rem;
  padding: 0 0.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #6b4218;
  position: relative;
}
.vip-left {
  display: flex;
  align-items: center;
  font-size: 0.32rem;
}
.vip-left img {
  width: 0.53333rem;
  height: 0.48rem;
  margin-right: 0.13333rem;
}
.vip-right {
  display: flex;
  align-items: center;
  font-size: 0.34667rem;
}
.vip-right img {
  width: 0.13333rem;
  height: 0.26667rem;
  margin-left: 0.13333rem;
}
.vipdiscount-line {
  width: 9.2rem;
  height: 0.01rem;
  position: absolute;
  bottom: 0;
  left: 0.4rem;
  background: #f7eada;
}
.viplb {
  height: 2.85333rem;
  padding: 0.4rem 0.4rem 0 0.4rem;
  display: flex;
  justify-content: space-between;
}
.viplb-left {
  width: 1.46667rem;
  height: 2rem;
  border-radius: 0.08rem;
}
.viplb-left img {
  width: 100%;
  height: 100%;
}
.viplb-right {
  width: 7.28rem;
  margin-left: 0.4rem;
  height: 2rem;
  overflow: hidden;
}
.viplb-right p {
  text-indent: 0.25rem;
  width: 100%;
  font-size: 0.37333rem;
  color: #232323;
  line-height: 0.56rem;
  min-height: 1.09333rem;
  max-height: 1.09333rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.viplb-right > div {
  display: flex;
  justify-content: space-between;
  font-size: 0.32rem;
  margin-top: 0.25rem;
}
.discount {
  color: #999;
}

.markk {
  font-size: 0.42667rem;
  color: #ff6743 !important;
  background: transparent;
  font-weight: 600;
  margin-right: 0.2rem;
}
.panicbuing {
  text-align: center;
  width: 2.0266rem;
  height: 0.64rem;
  border-radius: 0.33333rem;
  color: #ff6743;
  border: solid 1px #ff6743;
  line-height: 0.64rem;
}
.advbottom {
  height: 0.8rem;
  padding-top: 0.3rem;
}
.advbottom p {
  width: 1rem;
  height: 0.14rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.advbottom span {
  width: 0.14rem;
  height: 0.14rem;
  background: #ff6743;
  border-radius: 50%;
}
/* vip广告 */
.vipmsg {
  width: 100%;
  height: 2.66667rem;
  padding: 0 0.4rem;
  border-radius: 1.33333rem;
  margin-bottom: 0.8rem;
  overflow: hidden;
}
.vipmsg img {
  width: 100%;
  height: 100%;
}

/* 热门演出 */
.hotshow {
  margin-left: 0.4rem;
  padding-bottom: 0.58667rem;
}
.hotshowTitle {
  height: 0.61333rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.3rem;
}
.hot {
  font-size: 0.48rem;
  line-height: 0.61333rem;
  height: 0.61333rem;
  color: #232323;
  font-weight: 700;
}
.hotAll {
  font-size: 0.34667rem;
  color: #232323;
  display: flex;
  justify-content: space-between;
  padding-right: 0.13333rem;
}
.hotlink {
  width: 0.53333rem;
  height: 0.49rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hotlink img {
  height: 0.35rem;
  width: 0.18rem;
}
/* .hotshowlist {
  height: 5.64rem;
  background: yellowgreen;
} */
.hotshowlist ul {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
}
.hotshowlist ul li {
  overflow: hidden;
  margin-right: 0.15rem;
  width: 2.85333rem;
  flex-shrink: 0;
}
.hotshowlist ul li > div {
  width: 2.85333rem;
  height: 3.89333rem;
  border-radius: 0.10667rem;
  overflow: hidden;
  border: solid 1px #ebebeb;
}
.hotshowlist ul li > div > img {
  width: 100%;
  height: 100%;
}
.hotshowlist ul li > p {
  line-height: 0.56rem;
  min-height: 1.09333rem;
  font-size: 0.4rem;
  color: #232323;
  margin-top: 0.29333rem;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-family: "Avenir", Helvetica, Arial, sans-serif;
}
.hotshowlist ul::-webkit-scrollbar {
  display: none;
}

/* 巡回演出 */
.tourshow {
  padding: 0.53333rem 0 0.4rem 0.34667rem;
  margin-bottom: 0.5rem;
}
.tourintroduce {
  height: 4.42667rem;
  background-color: #f5f5f5;
  border-radius: 0.16rem;
  padding: 0.4rem 0.34667rem;
  position: relative;
  margin-right: 0.368rem;
  display: flex;
}
.tourimg {
  flex-shrink: 0;
  width: 2.66667rem;
  height: 3.62667rem;
  border-radius: 0.13333rem;
  border: 1px solid #ebebeb;
}
.tourimg img {
  width: 100%;
  height: 100%;
}
.tour-schedule {
  margin-left: 0.4rem;
  overflow: hidden;
}
.tour-time {
  margin-top: 0.10667rem;
  color: #666;
  font-size: 0.32rem;
  height: 0.32rem;
  line-height: 0.32rem;
  margin-bottom: 0.1rem;
}
.tour-title {
  flex: 1;
  flex-wrap: wrap;
  line-height: 0.58333rem;
  padding: 0.075rem 0;
  height: 1.22667rem;
  font-size: 0.4rem;
  color: #232323;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  margin-bottom: 0.3rem;
}
.tour-price {
  display: flex;
  line-height: 0.53333rem;
}
.tour-price mark {
  background: transparent;
  color: #ff6743;
  font-size: 0.42667rem;
}
.tour-price mark:nth-of-type(2) {
  font-size: 0.48rem;
}
.tour-price span {
  color: #999;
  font-size: 0.32rem;
  margin-left: 0.1rem;
}
.tour-location {
  padding-top: 0.3rem;
  margin-top: 0.26667rem;
  border-top: 1px solid rgba(204, 204, 204, 0.5);
  display: flex;
  height: 1rem;
  color: #999;
  font-size: 0.32rem;
}

.tour-location-num {
  margin-right: 0.2rem;
  max-width: 1.73333rem;
  display: flex;
  line-height: 0.32rem;
  color: #999;
  flex: 1;
}
.tour-location-num span:nth-of-type(1) {
  color: #ff6743;
  margin-right: 0.2rem;
  font-weight: 600;
}
.tour-location-num span:nth-of-type(2) {
  width: 1.05rem;
}
.tour-detaile-location {
  line-height: 0.32rem;
  width: 4.3rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.tour-detaile-location span {
  /* width: 1.1rem; */
  display: inline-block;
  line-height: 0.4rem;
  color: #000;
}
.tour-detaile-location span > i {
  display: inline-block;
  margin-left: 0.13rem;
  margin-right: 0.13rem;
}
/* 舞台剧 */
.stageplay {
  padding-bottom: 0.7rem;
}
.stageitem {
  background-color: rgb(164, 133, 86);
  padding: 0.37333rem 0 0.37333rem 0.4rem;
  display: flex;
}
.stagetime {
  flex: 1;
  margin-left: 0.4rem;
  color: #fefefe;
  padding-top: 0.42667rem;
}
.stages-date {
  font-size: 0.32rem;
  height: 0.64rem;
  line-height: 0.64rem;
  letter-spacing: 1px;
  display: flex;
}
.stages-date strong {
  font-weight: normal;
  font-size: 0.42667rem;
  margin-right: 0.1rem;
}
.stage-title {
  width: 90%;
  font-size: 0.4rem;
  line-height: 0.6rem;
  max-height: 1.2rem;
  min-height: 0.6rem;
  margin-top: 0.26667rem;
  font-weight: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.stage-tip {
  width: 5.6rem;
  font-size: 0.32rem;
  height: 0.64rem;
  line-height: 0.64rem;
  margin-top: 0.26667rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.stagelist {
  padding: 0.4rem 0 0 0.4rem;
}
/* 舞台剧 聚橙logo */
.tourimg-logo {
  position: relative;
}
.juooobookslog {
  width: 0.77333rem;
  height: 0.93333rem;
  position: absolute;
  left: 0.10667rem;
  top: -0.02667rem;
  display: block;
  background: url("../../img/juooobookslog.png") center center no-repeat;
  background-size: 100%;
}
.stage-price {
  font-size: 0.29333rem;
  color: #999;
  height: 0.53333rem;
  align-items: baseline;
  display: flex;
}
.stage-price > strong {
  font-size: 0.42667rem;
  margin-right: 0.10667rem;
  font-weight: normal;
  color: #ff6743 !important;
}
/* 瀑布流效果 */
.recommend-waterfall {
  padding: 0 0.4rem;
  display: flex;
  justify-content: space-between;
}
.recommend-left,
.recommend-right {
  width: 4.92rem;
  border-radius: 0.16rem;
  overflow: hidden;
  background-color: #fefefe;
  border: 1px solid #ebebeb;
  margin-bottom: 0.2rem;
}
.recommend-img {
  position: relative;
  width: 100%;
  height: 6.8rem;
}
.recommend-tip {
  position: absolute;
  right: 0.2rem;
  top: 0.2rem;
  height: 0.48rem;
  padding: 0 0.12rem;
  background: linear-gradient(
    -45deg,
    rgba(38, 38, 38, 0.8),
    rgba(70, 68, 65, 0.8)
  );
  border-radius: 0.02667rem;
  color: #fefefe;
  font-size: 0.32rem;
}
.recommend-img img {
  border: none;
  border-color: transparent;
  vertical-align: middle;
  width: 100%;
  height: 100%;
}
.recommend-title {
  padding: 0.21333rem 0.29333rem 0.29333rem;
  overflow: hidden;
}
.sponsor {
  position: relative;
}
.sponsor > img {
  position: absolute;
  left: 0;
  top: 0px;
  display: block;
  width: 0.89333rem;
  height: 0.45333rem;
}
.sponsor > p {
  text-indent: 1rem;
  color: #232323;
  font-weight: normal;
  font-size: 0.37333rem;
  line-height: 0.53333rem;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.sponsor-time {
  margin-top: 0.10667rem;
  font-size: 0.34667rem;
  color: #666;
  line-height: 0.53333rem;
}
.sopnsor-prince {
  margin-top: 0.10667rem;
  display: flex;
  overflow: hidden;
}
.sopnsor-prince span:nth-of-type(1) {
  color: #ff6743;
  font-size: 0.42667rem;
}
.sopnsor-prince span:nth-of-type(2) {
  margin-top: 0.2rem;
  color: #999;
  font-size: 0.29333rem;
  line-height: 0.29333rem;
  margin-left: 0.1rem;
}
.sopnsor-service {
  /* overflow: hidden;
  margin-top: 0.13333rem; */
  line-height: 0.29333rem !important;
}
.sopnsor-service > span {
  display: inline-block;
  padding: 0.01rem 0.13333rem;
  background-color: #fff1ef;
  border-radius: 0.22667rem;
  color: #ff6743;
  font-size: 0.29333rem;
  margin-right: 0.13333rem;
  margin-bottom: 0.13333rem;
}
